[submodule "modules/palace"]
	path = modules/palace
	url = https://github.com/high-cde/Z-GENESIS-PALACE
[submodule "modules/live"]
	path = modules/live
	url = https://github.com/high-cde/Z-GENESIS-LIVE
[submodule "modules/nodes"]
	path = modules/nodes
	url = https://github.com/high-cde/Z-GENESIS-NODES
[submodule "modules/aaak"]
	path = modules/aaak
	url = https://github.com/high-cde/Z-GENESIS-AAAK
